.profile__wrapper {
  margin: 1rem 2rem;
  padding: 1.5rem 1rem;
  border: 2px black solid;
  border-radius: 8px;
}

.profile__container {
  margin: 0 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10%;
}

.profile__img img {
  width: 200px;
  height: 200px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  border: 3px lightgray solid;
  padding: 1px;
}

.profile h3 {
  font-size: 2rem;
}

.profile p {
  font-weight: 600;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 700px) {
  .profile__container {
    flex-direction: column;
  }
  .profile {
    margin-top: 2rem;
  }
}
