a {
  color: blue;
  text-decoration: none;
  cursor: pointer;
}


form {
  padding: 0 2rem;
}

.username {
  width: 100%;
}

.repos__container {
  margin: 2rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 2rem 4rem;
}

.repo {
  padding: 1rem;
  border: 2px solid black;
}

@media only screen and (max-width: 700px) {
  .repos__container {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem 0;
  }
}

.page-buttons {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-buttons button {
  background-color: white;
  border: 1px solid lightgray;
  border-right: 0;
  padding: 0.5rem;
  color: blue;
  cursor: pointer;
  font-size: 1rem;
}

.page-buttons button:last-of-type {
  border-right: 1px solid lightgray;
}

.page-buttons button.active {
  background-color: blue;
  color: white;
}

.navigator {
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.navigator button:first-of-type {
  justify-self: flex-end;
}

.navigator button:last-of-type {
  justify-self: flex-start;
}

.navigator button {
  padding: 0.5rem 1rem;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 20px;
  color: blue;
  cursor: pointer;
  font-size: 1rem;
}
